[flake8]
inline-quotes = "
ignore = E203, E266, W503, N807, N818
max-line-length = 80
max-complexity = 18
select = B,C,E,F,W,T4,B9,Q0,N8,VNE,F401
exclude =
    **migrations
    venv
    tests
    task_manager/settings.py
