{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="row">
    <div class="col-xl-12">
      <a href="" class="btn btn-primary mb-3">Add tag</a>

      <div class="card Recent-Users">
        <div class="card-block px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <td>Name</td>
                <td>Project</td>
                <td>Updated at</td>
                <td>Actions</td>
              </tr>
              </thead>

              <tbody>
              {% for tag in tag_list %}
                <tr class="unread">
                  <td>
                    <h6 class="m-0">
                      {{ tag.name }}
                    </h6>
                  </td>

                  <td>
                    <h6 class="mb-1">{{ tag.project.name }}</h6>
                  </td>

                  <td>
                    <h6 class="text-muted">{{ tag.updated_at }}</h6>
                  </td>

                  <td>
                    <a
                        href=""
                        class="label theme-bg text-white f-12"
                    >Details</a>

                    <a
                        href=""
                        class="label theme-bg text-white f-12"
                    >Edit</a>

                    <a
                        href=""
                        class="label theme-bg2 text-white f-12"
                    >Delete</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
