{% load static %}
<title>Task Manager</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/animation/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">
<script src="https://kit.fontawesome.com/a7c600f22c.js" crossorigin="anonymous"></script>
